---
name: Run pre-commit linting checks

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          cache-dependency-path: pyproject.toml
          cache: pip
          python-version: "3.13"

      - name: Cache nox
        uses: actions/cache@v4
        with:
          key:
            tests-${{ hashFiles('pyproject.toml') }}-${{ hashFiles('noxfile.py')
            }}-${{ env.pythonLocation }}
          path: .nox

      - name: Install nox
        run: python -m pip install nox

      - name: Run linting
        run: nox -s lint
