---
name: Run regression test

on:
  workflow_call:
    inputs:
      starting_revision:
        description: >-
          The hash for the revision of glass-dev/glass to act as the starting
          state to be compared against.
        default: main
        type: string
      end_revision:
        description: >-
          The hash for the revision of glass-dev/glass to act as the final
          state to be compared with the initial.
        required: true
        type: string
  workflow_dispatch:
    inputs:
      starting_revision:
        description: >-
          The hash for the revision of glass-dev/glass to act as the starting
          state to be compared against.
        required: true
        default: main
        type: string
      end_revision:
        description: >-
          The hash for the revision of glass-dev/glass to act as the final
          state to be compared with the initial.
        required: true
        type: string

env:
  REGRESSION_TEST_OUTPUT_FILE: output.txt

jobs:
  regression-test:
    name: Regression test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - name: Checkout source
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          repository: glass-dev/glass-benchmarks

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          cache: pip
          python-version: ${{ matrix.python-version }}

      - name: Cache nox
        uses: actions/cache@v4
        with:
          key: tests-${{ hashFiles('noxfile.py') }}-${{ env.pythonLocation }}
          path: .nox

      - name: Install nox
        run: python -m pip install nox

      - name: Run regression test
        run: >-
          nox -s regression_tests-${{ matrix.python-version }} --
          ${{ inputs.starting_revision }} ${{ inputs.end_revision }}
            | tee $REGRESSION_TEST_OUTPUT_FILE

      - name: Extract regression information for PR comment
        id: extract_comment
        if: failure()
        run: >-
          f=$REGRESSION_TEST_OUTPUT_FILE

          start=$(grep -n -m1 'Performance has regressed:' "$f" | cut -d: -f1)
            || { echo "No match"; exit 1; }
          s_dash=$(awk -v n=$start 'NR<=n && /^-+$/ {l=NR} END{print l}' "$f")
          e_dash=$(awk -v n=$start 'NR>=n && /^-+$/ {print NR; exit}' "$f")
          PR_COMMENT_MSG=$(sed -n "${s_dash},${e_dash}p" "$f")

          echo "PR_COMMENT_MSG=$PR_COMMENT_MSG" >> $GITHUB_OUTPUT

      - name: Write PR comment
        uses: mshick/add-pr-comment@v2
        if: failure()
        with:
          message: >-
            ${{ steps.extract_comment.outputs.PR_COMMENT_MSG }}
