---
name: Run benchmark tests

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - name: Checkout source
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          cache: pip
          python-version: ${{ matrix.python-version }}

      - name: Cache nox
        uses: actions/cache@v4
        with:
          key: tests-${{ hashFiles('noxfile.py') }}-${{ env.pythonLocation }}
          path: .nox

      - name: Install nox
        run: python -m pip install nox

      - name: Run tests with every array backend and generate coverage report
        run: nox -s coverage-${{ matrix.python-version }} -- main

      - name: Coveralls requires XML report
        run: coverage xml

      - name: Run Coveralls in parallel
        uses: coverallsapp/github-action@v2
        with:
          flag-name: run-${{ matrix.python-version }}
          parallel: true
          base-path: glass/

  aggregate-tests:
    needs: test
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls finished
        uses: coverallsapp/github-action@v2
        with:
          carryforward: run-3.10,run-3.11,run-3.12,run-3.13
          parallel-finished: true
